.wrapper {
    background-color: #174652;
    color: #fff;
}

.wrapper .row{
    height: 100px;
    background-color: #000;
}

.good{
    background-color: green;
    color: #fff;
}

.normal {
    background-color: yellow;
}

.bad {
    background-color: red;
    
}