.wrapper {
    background-color: #174652;
    color: #fff;
}

.wrapper .row{
    height: 100px;
    background-color: #000;
}

.green{
    background-color: green;
    color: #fff;
}

.first-part {
    background-color: #4f686e;
    height: 100%;
}

.phrase {
    color: crimson;
    line-height: 28px;
}